*{
    margin: 1rem;
    padding: 1rem;
}
html{
    font-size: medium;
    box-sizing: border-box;
}
h1{
    justify-content: flex-start;
    font-size: 2rem;
}
body{
    background-color: rgb(29, 187, 227);
    font-family: 'Courier New', Courier, monospace;
    line-height: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(119, 79, 180);
    height: 100vh;
    padding: 0;
    margin: 0;

}

#game-board{
    /* padding-left: 30rem; */
    /* padding-top: 70 rem;
    padding-right: 10rem;
    padding-bottom: 20rem; */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    color: black;
    gap: 5px;
    margin-top: 20px;
}

.cell{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid #000;
    font-size: 2em;
    cursor: pointer;
}

@media screen and  (min-width: 630px)  {
body{
    justify-content: center;
}
    
}